body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(82, 214, 113);
    padding: 20px;
    border: solid black 2px;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
}

.input-section {
    margin-bottom: 20px;
}

#guessInput {
    padding: 10px;
    width: calc(100% - 110px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#submitGuess {
    padding: 10px;
    background-color: #3c3f42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

#submitGuess:hover {
    background-color: #0056b3;
}

.info-section p {
    margin: 10px 0;
    font-size: 1em;
}

.feedback {
    font-weight: bold;
    color: #ff4500;
}

.restart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.restart:hover {
    background-color: #218838;
}
